#productBtn {
  background-color: #f4a622;
  border: 2px solid #f4a622;
  padding: 16px;
  color: #ffff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 8px 40px;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 14px;
}
#productBtn:hover {
  color: #f4a622;
  background-color: inherit;
}
.title {
  color: #ffff;
  text-align: left;
  /* margin: 10px 20px; */
}
h3 {
  margin: 40px 35px 10px 35px;
}
.categoryModal {
  /* display: none; */
  display: flex;
  flex-direction: column;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding-top: 300px;
  /* z-index: 1; */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  /* background-color: #161c21; */
  background-color: rgb(39, 50, 62, 0.4);
}
#Btn {
  background-color: #f4a622;
  border: 2px solid #f4a622;
  padding: 16px 30px;
  color: #ffff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 8px auto;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 14px;
}
.modal {
  display: flex;
  margin: 10px 550px;
  padding-top: 40px;
  height: 23%;
  width: 30%;
  flex-direction: column;
  background-color: #425d70;
}
.category {
  width: 70%;
  height: 1%;
  margin-left: 50px;
}
#label {
  margin-left: 50px;
}
