.OrderListContainer {
  width: 1130px;
  height: 450px;
  background-color: #425c71;
  margin-right: 20px;
  margin-bottom: 30px;
  /* scroll-behavior: auto;
  flex-direction: column;
  border-collapse: collapse; */
  overflow-y: scroll;
  padding-bottom: 30px;
}
.Title {
  margin-left: 30px;
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 700;
  /* padding-top: 30px; */
  padding-bottom: 30px;
}
.table {
  /* display: flex; */
  /* width: 1150px; */
  height: 450px;
  background-color: #486076;
  margin: 0px;
  margin-left: 35px;

  /* padding-left: 20px; */
  /* padding-right: 20px; */

  scroll-behavior: auto;
  flex-direction: column;
  border-collapse: collapse;
  /* font-size: 28px; */
  font-size: 85%;
  /* height: 85%; */
  padding-bottom: 30px;
}
.header {
  font-size: 14px;
  padding: 15px 25px;
  padding-right: 45px;
  font-weight: 700;
}
.orderRow {
  background-color: #50687e;
  margin-top: 10px;
  margin-bottom: 4px;
  /* margin-right: 20px; */
}
/* td {
  padding: 15px 25px;
  padding-right: 45px;
} */
.statusCircle {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-top: -3px;
}
.orderData {
  padding-left: 25px;
  font-weight: 400;
}
.Moving {
  background-color: #9be64d;
  box-shadow: 0 0 8px #9be64d, inset 0 0 8px #9be64d;
}
.Pending {
  background-color: #efc54b;
  box-shadow: 0 0 8px #efc54b, inset 0 0 8px #efc54b;
}
.Cancelled {
  background-color: #da534f;
  box-shadow: 0 0 8px #da534f, inset 0 0 8px #da534f;
}
.Delivered {
  background-color: #54ffaa;
  box-shadow: 0 0 8px #54ffaa, inset 0 0 8px #54ffaa;
}
